.home-layout {
  display: flex;
  min-height: 100vh;
  background: #0a0a0a;
  padding-bottom: 90px;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
  }
}
